body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Layer_1 {
  width: 345px;
  height: 345px;

 }

.MuiOutlinedInput-input-151 {
  width: 350px !important;
  height: 15px !important;
}

#Layer_2 {
  width: 212x;
  height: 226px;

}